/* Colors */
$white: #fff;

/* Offsets */
$app-desktop-padding: 50px;

/* Sizes Blocks */
$container-max-width: 774px;

$header-max-height: 48px;

$navigation-max-width: 234px;
$navigation-max-height: 814px;
